:root {
    --grey: rgb(25, 25, 25);
    --green: rgb(36, 170, 117);
    --light-grey: rgb(120, 120, 120);
    --red: rgb(241, 19, 78);
    --yellow: rgb(255, 230, 66);
    --dark-green : rgb(0, 20, 9);
}

.btn {
    padding: 0.5rem 1rem;
    border-radius: 5px;
    display: inline-block;
    text-align: center;
    font-weight: 600;
    color: black;
}
.btn-white-text{
    color: white;
}

.bg-green-to-black {
    background: var(--dark-green);
    background: linear-gradient(0deg,var(--dark-green) 0%, rgba(0,0,0,1) 100%);
}

.caret-green {
    caret-color: var(--green);
}

.hero-title {
    font-size: 6rem;
    line-height: 6rem;
}

.text-dim {
    color: var(--light-grey);
}

.text-red {
    color: var(--red);
}

.text-yellow {
    color: var(--yellow)
}

.z-1 {
    z-index: 1;
}

.z-2 {
    z-index: 2;
}


.text-bottom-accent{
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    font-weight: 800;
}
.text-bottom-accent::after{
    content: "";
    background-color: var(--green);
    position: relative;
    display: inline-block;
    height: 6px;
    width: 40px;
}


.section-margin{
    margin-left: 2rem;
}