:root{
    --grey : rgb(25,25,25);
    --green : rgb(36,170,117);
    --light-grey : rgb(120, 120, 120);
    --red : rgb(241,19,78);
    --yellow: rgb(255,230,66);
}

.btn{
    padding: 0.5rem 1rem;
    background-color: var(--grey);
    border-radius: 5px;
    display: inline-block;
    text-align: center;
}

.green-background{
    background-color: var(--green) ;
}

.hero-title {
    font-size: 6rem;
    line-height: 6rem;
}

.text-dim{
    color: var(--light-grey);
}

.text-red
{
    color: var(--red);
}

.text-yellow{
    color :var(--yellow)
}

.z-1{
    z-index: 1;
}
.z-2{
    z-index: 2;
}